<div class="start position-relative">
    <h1 class="text-center ColorText"> Benvenuti su Life Pet </h1>
    <div class="banner">
        <div class="product">
            <div class="soda"> </div>
        </div>
        <div class="rock">
            <img src="/images/rock1.png" />
            <img src="/images/rock2.png" />
            <img src="/images/rock3.png" />
        </div>
    </div>
</div>
<h4 class="text-center">I nostri marchi</h4>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row">
                <div class="col-md-3">
                    <img src="/images/carousel1.webp" class="d-block w-100" alt="Logo 1">
                </div>
                <div class="col-md-3">
                    <img src="/images/carousel2.webp" class="d-block w-100" alt="Logo 2">
                </div>
                <div class="col-md-3">
                    <img src="/images/carousel3.webp" class="d-block w-100" alt="Logo 3">
                </div>
                <div class="col-md-3">
                    <img src="/images/carousel4.webp" class="d-block w-100" alt="Logo 4">
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-md-3">
                    <img src="/images/carousel5.webp" class="d-block w-100" alt="Logo 5">
                </div>
                <div class="col-md-3">
                    <img src="/images/carousel1.webp" class="d-block w-100" alt="Logo 6">
                </div>
                <div class="col-md-3">
                    <img src="/images/carousel2.webp" class="d-block w-100" alt="Logo 7">
                </div>
                <div class="col-md-3">
                    <img src="/images/carousel3.webp" class="d-block w-100" alt="Logo 8">
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-md-3">
                    <img src="/images/carousel4.webp" class="d-block w-100" alt="Logo 9">
                </div>
                <div class="col-md-3">
                    <img src="/images/carousel5.webp" class="d-block w-100" alt="Logo 10">
                </div>
                <div class="col-md-3">
                    <img src="/images/carousel1.webp" class="d-block w-100" alt="Logo 11">
                </div>
                <div class="col-md-3">
                    <img src="/images/carousel2.webp" class="d-block w-100" alt="Logo 12">
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="mt-3">
    <h3 class="text-center">Trova il rimedio piu' adatto per te</h3>
</div>