@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuti su LifePet!</h1>
    <h2>L'unica clinica che prima ti ammala il cane e poi ti deruba facendoti comprare le sue medicine</h2>
    <h3><i>Il nostro motto è: "Ce la sunamm, ce la cantamm e ce la ballamm!"</i></h3>
</div>

<div>
    <h2>Come puoi ben vedere la felicità del cane del cliente passerà sempre lontano da qui</h2>
    <h3>Contiamo su di te affinchè questa nostro modus operandi continui a rivelarsi proficuo ai fini aziendali</h3>
</div>