
<div class="start position-relative">
    <h1 class="text-center"> Benvenuti su Life Pet </h1>
<div class="banner">
    <div class="product">
        <div class="soda"> </div>       
    </div>
    <div class="rock">
        <img src="/images/rock1.png" />
        <img src="/images/rock2.png" />
        <img src="/images/rock3.png" />
    </div>
    </div>
</div>
