@model BW_VI___Team_1.Models.DTO.VisitDTO

@{
    ViewData["Title"] = "UpdateVisit";
}
<div class="edit border border-1 rounded-1 my-3">
    <h1 class="text-white text-center">Modifica Visita</h1>

    <h4 class="text-white text-center">Visita</h4>
<hr class="text-light" />
<div class="row">
        <div class="col-md-4 ColorNavbar container border border-2 rounded-3  text-white mb-4">
        <form asp-action="UpdateVisit">
            <input type="hidden" name="Id" value="@ViewBag.VisitId" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group my-2">
                <label asp-for="Date" class="control-label">Data Visita</label>
                <input asp-for="Date" class="form-control" type="date" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <div class="form-group my-2">
                <label asp-for="Exam" class="control-label">Tipo di esame</label>
                <input asp-for="Exam" class="form-control" />
                <span asp-validation-for="Exam" class="text-danger"></span>
            </div>

            <div class="form-group my-2">
                <label asp-for="Diagnosis" class="control-label">Diagnosi</label>
                <input asp-for="Diagnosis" class="form-control" />
                <span asp-validation-for="Diagnosis" class="text-danger"></span>
            </div>

            <div class="form-group my-2">
                <label asp-for="AnimalId" class="control-label">Nome Animale</label>
                <select asp-for="AnimalId" class="form-control">
                    @foreach (var animal in ViewBag.Animals)
                    {
                        <option value="@animal.Id">@animal.Name</option>
                    }
                </select>
                <span asp-validation-for="AnimalId" class="text-danger"></span>
            </div>

            <div class="form-group my-3">
                <input type="submit" value="Salva" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>
<div class="my-3">
    <a asp-action="Index" class="text-decoration-none">Torna alla lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
