<div id="customerSearchSection" class="mb-4">
    <input type="text" class="form-control" id="fiscalCode" name="fiscalCode" placeholder="Inserisci codice fiscale" />
    <div id="searchResults" class="mt-4"></div>
</div>

