@model BW_VI___Team_1.Models.Owner

@{
    ViewData["Title"] = "UpdateOwner";
}
<div class="container">
<h1>Modifica Proprietario</h1>

<h4>Proprietario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateOwner" method="post">
            <div class="form-group my-2">
                <label asp-for="FirstName">Nome</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="LastName">Cognome</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="FiscalCode">Codice Fiscale</label>
                <input asp-for="FiscalCode" class="form-control" />
                <span asp-validation-for="FiscalCode" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-primary">Salva</button>
        </form>
    </div>
</div>
    
</div>
<div>
    <a asp-action="Index">Torna alla lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
